body {
    background: #1d0e15;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.home {
    background: url(../images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home__subtitle,
.login__logo,
.register__logo {
    font-size: 2rem;
    color: #ff5421;
}

.home__title {
    font-size: 4rem;
    color: #fff;
}

.about,
.services,
.contact,
.login,
.register {
    background: #1d0e15;
}

.about__title {
    font-size: 2.5rem;
    color: #ff5421;
}

.about__description {
    font-size: 1.3rem;
    color: #fff;
}

.about__icon,
.login__subtitle,
.register__subtitle,
.plans__subtitle,
.plans__icon,
.imc__title,
.newsletter__title,
.contact__text {
    color: #ff5421;
}

.fs-2,
.fs-3,
.fs-5 {
    color: #ff5421;
    font-weight: 600;
}

.contact__icon {
    font-size: 1.5rem;
}

.contact__form,
.register__form {
    background: #fff;
}

.login__bg {
    background-image: url(../images/login.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.login__logo:hover,
.login__forget:hover,
.login__register:hover,
.register__logo:hover {
    color: #ff5421 !important;
}

.login__forget,
.login__register {
    color: #ff5421;
    cursor: pointer;
}

.newsletter__input,
.imc__input {
    width: 50%;
}

.user {
    text-transform: uppercase;
}

.table {
    font-weight: 600;
    color: #364958;
}